{# templates/article/fragments/_search_btn_bar.html.twig #}
{% for categorie in categories %}
    <div class="cta">
        <a href="{{ path('categorie_filter') }}" class="primaryBtn">{{ categorie.name }}</a>
    </div>
{% endfor %}