{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <section class="container banner">
        <div class="banner-title">
            <h4>A la une!</h4>
            {% include 'article/fragments/_banner_article.html.twig' %}
        </div>
    </section>
    <section class="container list-article">
        <div class="banner-list">
            <h4>Dernieres parutions</h4>
            <div class="card-list">
                {% include 'article/fragments/_card_article.html.twig' %}
            </div>           
        </div>
    </section>

{% endblock %}