{# templates/article/list_articles.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <section class="search-bar">
        <div>
            {{ form_start(form, {'attr' : {'class': 'search-form'}}) }}
                {{ form_widget(form.search) }}
                <button type="submit" class="search-btn">
                    <img src="{{ asset('icons/search.svg') }}" alt="bouton de validation de recherche">
                </button>
            {{ form_end(form) }}
        </div>
        <div class="search-filter">
            {% include 'article/fragments/_search_btn_bar.html.twig' %}
        </div>
    </section>
    <section class="container">
        <div class="banner-list">
            <h4>Résultat de votre recherche</h4>
            <div class="card-list">
                {% for article in articles %}
                    {% include 'article/fragments/_card_article.html.twig' %}
                {% endfor %}
            </div>           
        </div>
    </section>
{% endblock %}